@font-face {
  font-family: "verifacto";
  src:url("chrome-extension://__MSG_@@extension_id__/icons/verifacto.woff") format("woff"),
    url("chrome-extension://__MSG_@@extension_id__/icons/verifacto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}